<div class="expanding-card">
  <div class="expanding-card-header">
    <h5>1. Customer Details</h5>
    <button (click)="onToggleClicked()" type="button">
      <img src="../../assets/icons/012-chevron-arrow-down.svg" [class.open]="isOpen" />
    </button>
  </div>
  <div class="expanding-card-container" [class.open]="isOpen">
    <div class="expanding-card-body">
      <div class="form-group">
        <label>First Name</label>
        <input  class="form-control" type="text" />
      </div>
      <div class="form-group">
        <label>Last Name</label>
        <input class="form-control" type="text" />
      </div>
      <div class="form-group">
        <label>Date of Birth</label>
        <input class="form-control" type="date" />
      </div>
      <div class="form-group">
        <label>Email</label>
        <input class="form-control" type="text" />
      </div>
      <div class="form-group">
        <label>Phone</label>
        <input class="form-control" type="text" />
      </div>
      <div class="form-group">
        <label>Address</label>
        <input class="form-control" type="text" />
      </div>
      <div class="form-group">
        <label>City</label>
        <input class="form-control" type="text" />
      </div>
      <div class="form-group">
        <label>State</label>
        <input class="form-control" type="text" />
      </div>
      <div class="form-group">
        <label>Zip</label>
        <input class="form-control" type="text" />
      </div>
      <div class="form-group">
        <label>Social Security Number</label>
        <input class="form-control" type="text" />
      </div>
      <div class="form-group">
        <label>Previous Carrier</label>
        <input class="form-control" type="text" />
      </div>
      <div class="form-group">
        <label class="check-box-input">
          <input class="form-control" type="checkbox" />
          Claims in the last 5 years?
        </label>
      </div>
      <div class="form-group">
        <label class="check-box-input">
          <input class="form-control" type="checkbox" />
          Any moving violations within 5 years?
        </label>
      </div>
      <div class="form-group">
        <label class="check-box-input">
          <input class="form-control" type="checkbox" />
          Under 3 years driving experience?
        </label>
      </div>
      <div class="form-group">
        <label class="check-box-input">
          <input class="form-control" type="checkbox" />
          Force multi-car discount?
        </label>
      </div>
    </div>
    <div class="expanding-card-footer">
      <h5>100% Complete</h5>
      <button (click)="onToggleClicked()" type="button">
        <img src="../../assets/icons/012-chevron-arrow-down.svg" [class.open]="isOpen" />
      </button>
    </div>
  </div>
</div>
